.contents-others {
  border: 1px solid #fff;
  padding: 20px 0;
}


.contents-flex {
  display: flex;
  justify-content: center;
  padding: 10px;
}

iframe, img {
  margin: 5px 10px;
}

.others-article {
  padding: 20px;
}
