.others {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.contents-others {
  border: 1px solid #fff;
  /* height: 400px; */
  width: 800px;
  padding: 20px;
}


.contents-flex {
  display: flex;
  justify-content: center;
  padding: 10px;
}

iframe, img {
  margin: 5px 10px;
}

.others-article {
  padding: 20px;
}
