.TopPage {
  min-width: 100vw;
  color: #fff;
  display: block;
}

.ContentsContainer {
  min-height: 100vh;
  min-width: 100vw;
}

.flex-container {
  display:flex;
  justify-content: center;
  min-width: 100vw;
}

.flexcontents {
  padding: 0 10px;
}
.bandcampiframes{
  border: 0;
  min-width: 250px;
  height: 470px;
}

.videos {
  width: 480px;
  height: 320px;
}

.profilecentens {
  width: 480px;
}

.profileimg {
  width: 400px;
  padding: 10px;
}

.archives {
  min-width: 100%;
  display:flex;
  justify-content: center;
}

.archives_frame {
  border: 1px solid pink;
  height: 600px;
  width: 80%;
  padding: 15px;
}

/* .iframes {
  display: flex;
  width: 100%;
  padding-bottom: 50px;
}

.iframe-videos {
  width: 460px;
  height: 300px;
}

iframe {
  width: 560px;
  height: 480px;
}

/*


h2 {
  margin-top: 100px;
}

p {
  font-size: 0.7em;
}

.profile{
  font-size: 1em;
  padding: 0 100px;
}

.bandcampiframes{
  border: 0;
  width: 250px;
  height: 470px;
}

.flex-container {
  display:flex;
  justify-content: center;
  padding: 50px;
}

.archives {
  display:flex;
  justify-content: center;
}*/
