.TopPage {
  text-align: center;
  width: 100vw;
}

.iframes {
  display:flex;
  justify-content: center;
  padding-bottom: 50px;
}

.flexcontents {
  padding: 50px;
}

article{
  font-size: 0.7em;
  /* width: 600px; */
  padding: 100px;
}

.bandcampiframes{
  border: 0;
  width: 250px;
  height: 470px;
}
